{% extends 'TakeTestApp/base.html' %}
{% block content %}
<h3 class="display-6">Post Test</h>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter name of the Test" aria-label="TestName" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter maximum marks of the test" aria-label="MAX_marks" aria-describedby="basic-addon2">
</div>
<div class="input-group mb-3">
  <input type="number" class="form-control" placeholder="Enter time duration of the test in hours" aria-label="TimeDuration" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
    <div class="row">
        <div class="col-6">
            <input type="number" class="form-control" placeholder="Positive marks to be awarded for each correctly answered question" aria-label="PositiveMarking">
        </div>
        <div class="col-6" >
            <input type="number" class="form-control" placeholder="Negative marks to taken for each incorrectly answered question" aria-label="NegativeMarking">
        </div>
    </div>
</div>
<div class="input-group ">
  <div class="custom-file">
    <input type="file" class="custom-file-input form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
    <label class="custom-file-label form-control" for="inputGroupFile04">Choose file</label>
  </div>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
  </div>
</div>
{% endblock content%}
