{% extends 'TakeTestApp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h3 class="display-6">Test has begun.</h3>

    <div class="content-section">
    <form name="taketest" onsubmit="return submitAnswers(answers=[{% for a in correctAnswer %}'{{a}}',{% endfor %}])">
        <ul>
        {% for q, opts in quesBank.items %}
                {{ forloop.counter }}{{q}}
                <ol>
                        <label class='radiocontainer'><input type="radio" name="q{{forloop.counter}}" value="{{opts.0}}">{{opts.0}}</input></label><span class='checkmark'>
                        <label class='radiocontainer'><input type="radio" name="q{{forloop.counter}}" value="{{opts.1}}">{{opts.1}}</input></label><span class='checkmark'>
                        <label class='radiocontainer'><input type="radio" name="q{{forloop.counter}}"value="{{opts.2}}">{{opts.2}}</input></label><span class='checkmark'>
                        <label class='radiocontainer'><input type="radio" name="q{{forloop.counter}}" value="{{opts.3}}">{{opts.3}}</input></label><span class='checkmark'>

                </ol>
        {% endfor %}
        </ul>
        <div class="text-right">
          <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
    </div>
{% endblock content%}
