{% extends 'TakeTestApp/base.html' %}
{% block content %}
    <h3 class="display-6">About Page</h3>
    <div class="content-section">
        <p>
            Nowadays all organisations are shifting to online tests and it is difficult to code each time the organisations conduct a test.
            <br>
            The organisation that is hosting the test will have to upload file of set format. The application will then retrieve questions, options and answers and create user interface for the test. Students can then visit the taketest website and take the test. After the completion of the test, both the organisation and the student can analyse their result. The analysis report for students and organisation is different.
        </p>
    </div>
{% endblock content%}

